<div class="container">
  <div style="
    text-align:center; 
    margin-left:auto;  
    margin-right:auto; 
    margin-bottom:auto;
    margin-top: auto;  
    ">
    <div><a class="btn btn-primary" style="
        text-decoration: none;
        width: 401px;
        height: 50px;
        padding: 13px;
        font-size: 15px;
        font-weight: bold;
        " href="mailto:contato@pedreirocampinas.com.br">Clique para mandar email sobre a sua reforma</a></div>
    <button disabled style="
      margin: 20px 0;
      font-weight: bold;
      font-size: 21px;
      " class="btn btn-success" href="mailto:luizsebsilva@gmail.com">Telefone (19) 3922-6538 ou 9.9522-0634 </button>

    <h4> Cobertura - Região Metropolitana de Campinas </h4>
    <img alt="Mapa da região metropolitna de Campinas" ng-src="http://pedreirocampinas.s3.amazonaws.com/images/mapa.jpg" />
  </div>
</div>
