<div class="container">
 <h3> Clique em uma imagem e use os botões de setas < e > no teclado para navegar.</h3>
  <div id="links">
    <a ng-repeat="img in images" href="/images/gallery/{{img}}.jpg" title="Foto {{img}}" data-gallery>
      <img ng-src="/images/gallery/{{img}}.jpg" alt="{{img}}" width="195" height="195">
    </a>
  </div>

  <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>
</div>
