<!-- Banner Wrapper -->
<div id="banner-wrapper">
  <div class="container">
    <div class="row">
      <div class="12u">
      
        <!-- Banner -->
          <div id="banner" class="box">

            <div>
              <div class="row">
                <div class="7u">
                  <h2>Negocie com quem põe a mão na massa.</h2>
                  <p>Pedreiro Campinas é um website para conectar você, morador(a) de Campinas e região, a pedreiros qualificados sem o intermédio de empreiteiras que encarecem o preço.</p>
                </div>
                <div class="5u">
                  <ul>
                    <li><a ui-sref="contato" class="button big fa fa-arrow-circle-right">Contato</a></li>
                    <li><a ui-sref="galeria" class="button alt big fa fa-question-circle">Ver galeria</a></li>
                  </ul>
                </div>
              </div>
            </div>
          
          </div>

      </div>
    </div>
  </div>
</div>

<!-- Features Wrapper -->
<div id="features-wrapper">
  <div class="container">
    <div class="row">
      <div class="4u">
      
        <!-- Box -->
          <section class="box box-feature">
            <a href="#" class="image image-full"><img src="images/pedra_1.jpeg" alt="" /></a>
            <div class="inner">
              <header>
                <h2>Pedra Madeira</h2>
                <span class="byline">A mais pedida</span>
              </header>
              <p>Pedra madeira &eacute; a especialidade da casa. O servi&ccedil;o fica com &oacute;timo acabamento e tem grande dura&ccedil;&atilde;o.</p>
            </div>
          </section>

      </div>
      <div class="4u">
      
        <!-- Box -->
          <section class="box box-feature">
            <a href="#" class="image image-full"><img src="images/pedra_2.jpeg" alt="" /></a>
            <div class="inner">
              <header>
                <h2>Pedra filete, S&atilde;o Tom&eacute; e outras</h2>
                <span class="byline">Outras op&ccedil;&otilde;es para sua casa</span>
              </header>
              <p>H&aacute; uma variedade enorme de combina&ccedil;&otilde;es de pedras para a decora&ccedil;&atilde;o de sua casa!</p>
            </div>
          </section>

      </div>
      <div class="4u">
      
        <!-- Box -->
          <section class="box box-feature last">
            <a href="#" class="image image-full"><img src="images/pedra_3.jpg" alt="" /></a>
            <div class="inner">
              <header>
                <h2>E outros servi&ccedil;os</h2>
                <span class="byline">O que você precisa?</span>
              </header>
              <p>Necessita fazer nivelamento? Assentar piso? Subir laje ou construir muros? Entre em contato!</p>
            </div>
          </section>

      </div>
    </div>
  </div>
</div>
