Meu nome &eacute; Luiz, natural do Paran&aacute; e trabalho com pedras decorativas h&aacute; mais tempo que posso me recordar.
Minha fam&iacute;lia se especializou no ramo de constru&ccedil;&atilde;o civil e atualmente meu prop&oacute;sito
&eacute; facilitar a comunica&ccedil;&atilde;o entre o cliente e os pedreiros.

<p>
Meu prop&oacute;sito: oferecer pre&ccedil;os competitivos por remover a necessidade
de empreteiras no meio de todas as negocia&ccedil;&otilde;es. Eu acredito
que o cliente se sente estimulado com essa iniciativa pois o pre&ccedil;o final diminui
e o sal&aacute;rio l&iacute;quido do pedreiro aumenta, o que o torna mais motivado.
&Eacute; um acordo em que ambas partes ganham.
</p>

<p>
Hobbies: minha paix&atilde;o &eacute; a m&uacute;sica. J&aacute; tive todos os instrumentos imagin&aacute; em casa e atualmente
fa&ccedil;o shows aos fins de semana como uma renda extra e fonte de divers&atilde;o.
</p>
